In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

Using <code>read_html</code>

In [2]:
data=pd.read_html('https://en.wikipedia.org/wiki/LeBron_James')

In [3]:
legend=data[2]
legend

,0,1,2,3,4,5
0,GP,Games played,GS,Games started,MPG,Minutes per game
1,FG%,Field goal percentage,3P%,3-point field goal percentage,FT%,Free throw percentage
2,RPG,Rebounds per game,APG,Assists per game,SPG,Steals per game
3,BPG,Blocks per game,PPG,Points per game,Bold,Career high
4,†,Won an NBA championship,*,Led the league,NaN,NBA record

In [4]:
regular_season=data[3]
regular_season

,Year,Team,GP,GS,MPG,FG%,3P%,FT%,RPG,APG,SPG,BPG,PPG
0,2003–04,Cleveland,79,79,39.5,0.417,0.290,0.754,5.5,5.9,1.6,0.7,20.9
1,2004–05,Cleveland,80,80,42.4*,0.472,0.351,0.750,7.4,7.2,2.2,0.7,27.2
2,2005–06,Cleveland,79,79,42.5,0.480,0.335,0.738,7.0,6.6,1.6,0.8,31.4
3,2006–07,Cleveland,78,78,40.9,0.476,0.319,0.698,6.7,6.0,1.6,0.7,27.3
4,2007–08,Cleveland,75,74,40.4,0.484,0.315,0.712,7.9,7.2,1.8,1.1,30.0*
5,2008–09,Cleveland,81,81,37.7,0.489,0.344,0.780,7.6,7.2,1.7,1.1,28.4
6,2009–10,Cleveland,76,76,39.0,0.503,0.333,0.767,7.3,8.6,1.6,1.0,29.7
7,2010–11,Miami,79,79,38.8,0.510,0.330,0.759,7.5,7.0,1.6,0.6,26.7
8,2011–12†,Miami,62,62,37.5,0.531,0.362,0.771,7.9,6.2,1.9,0.8,27.1
9,2012–13†,Miami,76,76,37.9,0.565,0.406,0.753,8.0,7.3,1.7,0.9,26.8
10,2013–14,Miami,77,77,37.7,0.567,0.379,0.750,6.9,6.4,1.6,0.3,27.1
11,2014–15,Cleveland,69,69,36.1,0.488,0.354,0.710,6.0,7.4,1.6,0.7,25.3
12,2015–16†,Cleveland,76,76,35.6,0.520,0.309,0.731,7.4,6.8,1.4,0.6,25.3
13,2016–17,Cleveland,74,74,37.8*,0.548,0.363,0.674,8.6,8.7,1.2,0.6,26.4
14,2017–18,Cleveland,82*,82*,36.9*,0.542,0.367,0.731,8.6,9.1,1.4,0.9,27.5
15,2018–19,L.A. Lakers,55,55,35.2,0.510,0.339,0.665,8.5,8.3,1.3,0.6,27.4
16,2019–20†,L.A. Lakers,67,67,34.6,0.493,0.348,0.693,7.8,10.2*,1.2,0.5,25.3
17,2020–21,L.A. Lakers,45,45,33.4,0.513,0.365,0.698,7.7,7.8,1.1,0.6,25.0
18,2021–22,L.A. Lakers,56,56,37.2,0.524,0.359,0.756,8.2,6.2,1.3,1.1,30.3
19,Career[3],Career[3],1366,1365,38.2,0.505,0.346,0.734,7.5,7.4,1.6,0.8,27.1
20,All-Star[547],All-Star[547],18,18,28.2,0.515,0.308,0.725,6.0,5.8,1.2,0.4,22.9

In [5]:
playoffs=data[4]
playoffs

,Year,Team,GP,GS,MPG,FG%,3P%,FT%,RPG,APG,SPG,BPG,PPG
0,2006,Cleveland,13,13,46.5,0.476,0.333,0.737,8.1,5.8,1.4,0.7,30.8
1,2007,Cleveland,20,20,44.7,0.416,0.280,0.755,8.1,8.0,1.7,0.5,25.1
2,2008,Cleveland,13,13,42.5,0.411,0.257,0.731,7.8,7.6,1.8,1.3,28.2
3,2009,Cleveland,14,14,41.4,0.510,0.333,0.749,9.1,7.3,1.6,0.9,35.3
4,2010,Cleveland,11,11,41.8,0.502,0.400,0.733,9.3,7.6,1.7,1.8,29.1
5,2011,Miami,21,21,43.9,0.466,0.353,0.763,8.4,5.9,1.7,1.2,23.7
6,2012†,Miami,23,23,42.7,0.500,0.259,0.739,9.7,5.6,1.9,0.7,30.3
7,2013†,Miami,23,23,41.7,0.491,0.375,0.777,8.4,6.6,1.8,0.8,25.9
8,2014,Miami,20,20,38.2,0.565,0.407,0.806,7.1,4.8,1.9,0.6,27.4
9,2015,Cleveland,20,20,42.2,0.417,0.227,0.731,11.3,8.5,1.7,1.1,30.1
10,2016†,Cleveland,21,21,39.1,0.525,0.340,0.661,9.5,7.6,2.3,1.3,26.3
11,2017,Cleveland,18,18,41.3,0.565,0.411,0.698,9.1,7.8,1.9,1.3,32.8
12,2018,Cleveland,22,22,41.9,0.539,0.342,0.746,9.1,9.0,1.4,1.0,34.0
13,2020†,L.A. Lakers,21,21,36.3,0.560,0.370,0.720,10.8,8.8,1.2,0.9,27.6
14,2021,L.A. Lakers,6,6,37.3,0.474,0.375,0.609,7.2,8.0,1.5,0.3,23.3
15,Career[3],Career[3],266,266,41.5,0.495,0.337,0.740,9.0,7.2,1.7,0.9,28.7

Using BeautifulSoup

In [6]:
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"
data=requests.get(url).text

In [7]:
soup=BeautifulSoup(data, "html5lib")

In [8]:
netflix_data=pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Adj Volume", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col=row.find_all("td")
    date=col[0].text
    open=col[1].text
    high=col[2].text
    low=col[3].text
    close=col[4].text
    adj_volume=col[5].text
    volume=col[6].text
    
#append the data of each row into the table
    netflix_data=netflix_data.append({"Date":date, "Open":open, "High":high, "Low":low, "Close":close, "Adj Volume":adj_volume, "Volume":volume},ignore_index=True)
    netflix_data

In [9]:
netflix_data.head()

           Date    Open    High     Low   Close Adj Volume       Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21     528.21   78,560,600
1  May 01, 2021  512.65  518.95  478.54  502.81     502.81   66,927,600
2  Apr 01, 2021  529.93  563.56  499.00  513.47     513.47  111,573,300
3  Mar 01, 2021  545.57  556.99  492.85  521.66     521.66   90,183,900
4  Feb 01, 2021  536.79  566.65  518.28  538.85     538.85   61,902,300

Converting the BeautifulSoup into a String

In [10]:
netflix_data=pd.read_html(str(soup))
netflix_data

[                                                 Date  \
 0                                        Jun 01, 2021
 1                                        May 01, 2021
 2                                        Apr 01, 2021
 3                                        Mar 01, 2021
 4                                        Feb 01, 2021
 ..                                                ...
 66                                       Dec 01, 2015
 67                                       Nov 01, 2015
 68                                       Oct 01, 2015
 69                                       Sep 01, 2015
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  Open  \
 0                                              504.01
 1                                              512.65
 2                                              529.93
 3                                              545.57
 4                                              536.79
 ..                                                ...
 66                                             124.47
 67                                             109.20
 68                                             102.91
 69                                             109.35
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  High  \
 0                                              536.13
 1                                              518.95
 2                                              563.56
 3                                              556.99
 4                                              566.65
 ..                                                ...
 66                                             133.27
 67                                             126.60
 68                                             115.83
 69                                             111.24
 70  *Close price adjusted for splits.**Adjusted cl...

                                                   Low  \
 0                                              482.14
 1                                              478.54
 2                                              499.00
 3                                              492.85
 4                                              518.28
 ..                                                ...
 66                                             113.85
 67                                             101.86
 68                                              96.26
 69                                              93.55
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Close*  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                           Adj Close**  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Volume
 0                                            78560600
 1                                            66927600
 2                                           111573300
 3                                            90183900
 4                                            61902300
 ..                                                ...
 66                                          319939200
 67                                          320321800
 68                                          446204400
 69                                          497401200
 70  *Close price adjusted for splits.**Adjusted cl...

 [71 rows x 7 columns]]

In [11]:
netflix_dataframe=netflix_data[0]
netflix_dataframe

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jun 01, 2021",504.01,536.13,482.14,528.21,528.21,78560600
1,"May 01, 2021",512.65,518.95,478.54,502.81,502.81,66927600
2,"Apr 01, 2021",529.93,563.56,499.00,513.47,513.47,111573300
3,"Mar 01, 2021",545.57,556.99,492.85,521.66,521.66,90183900
4,"Feb 01, 2021",536.79,566.65,518.28,538.85,538.85,61902300
...,...,...,...,...,...,...,...
66,"Dec 01, 2015",124.47,133.27,113.85,114.38,114.38,319939200
67,"Nov 01, 2015",109.20,126.60,101.86,123.33,123.33,320321800
68,"Oct 01, 2015",102.91,115.83,96.26,108.38,108.38,446204400
69,"Sep 01, 2015",109.35,111.24,93.55,103.26,103.26,497401200
70,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...